{% extends "GPlateformBundle::layout.html.twig" %}

  {% block title %}

  {% endblock %}

  {% block g_plateform_body %}
      <div class="container">

           <div class="card">
               <div class="card-content">
               <div class="center">
                   <img src="{{ asset('img/concert.jpg') }}"  width="50%">
                  <h5>About</h5>
               </div>

                   <p>Georges est un jeune duo constitué d’Augustine Derycke, 21 ans, et de Vincent Scheffer, 22 ans, formé durant l’été 2015. C’est lors d’une soirée que Vincent entend Augustine chanter pour la première fois, sur une composition de celle-ci à la guitare. Une semaine après ils décident d’enregistrer cette composition nommée «I Won’t Get you Back » et c’est un réel succès auprès de leurs amis.</p>
                    <p>   Peu de temps après ils publient la chanson « Sur Mon Île », une chanson écrite sur l’île d’Hoedic au large du Morbihan.
                       Georges est l’union du jeu musical de Vincent et de la voix d’Augustine. Ils jouent leur premier concert dans un bar à vins en novembre 2015, jouant principalement des reprises et interprétations de tout genre. Enfin, ils publient leur dernier morceau « My Guilty Pleasure » en février 2016.</p>


                   </div>
               <div class="center"><a href="{{ path('g_plateform_contact') }}" class="btn btn-default grey darken-1">
                   <i class="glyphicon glyphicon-chevron-left"></i>
                   Contact us !
               </a></div>
           </div>
          </div>





  {% endblock %}