{% extends "GPlateformBundle::layout.html.twig" %}


{% block title %}

{% endblock %}

{% block g_plateform_body %}
<div class="center">
    <div class="im1">
        <img  width="500" src="{{ asset('img/two.jpg') }}">
    </div>
    <div class="im2">
        <img  width="500" src="{{ asset('img/one.jpg') }}">
    </div>
    <div class="im3">
        <img  width="500" src="{{ asset('img/three.jpg') }}">
    </div>
    <div class="im4">
        <img  width="500" src="{{ asset('img/coverGeorges.jpg') }}">
    </div>
</div>
    <style>
         .im1, .im2, .im3, .im4 {
            opacity: 0;
        }
    </style>
    <script>
        $(function () {
            var options = [ {selector: '.im1', offset: 500, callback: function(el) { Materialize.fadeInImage($(el));}},
                {selector: '.im2', offset: 500, callback: function(el) { Materialize.fadeInImage($(el));}},
                {selector: '.im3',offset: 500, callback: function(el) { Materialize.fadeInImage($(el));}},
                {selector: '.im4',offset:  500, callback: function(el) { Materialize.fadeInImage($(el));}}];
            Materialize.scrollFire(options);
        });




    </script>
{% endblock %}
