{% extends "GPlateformBundle::layout.html.twig" %}

  {% block title %}

  {% endblock %}

  {% block g_plateform_body %}
      <div class="container">
          <div class="col s12 m6">
              <div class="card">
                  <h5>Contact us:</h5>
                  Mail: georgesmusicofficiel@gmail.com
                  Facebook: https://www.facebook.com/Georges-1509228566048778/?ref=bookmarks








  {% endblock %}