{% extends "GPlateformBundle::layout.html.twig" %}

  {% block title %}

  {% endblock %}

  {% block g_plateform_body %}

          <div class="container">

              <div class="card center">
                  <img src="{{ asset('img/live.png') }}"  class="center" width="30%">
                  <h5>Contact us:</h5>
                  <p>Want a concert for your event ?  Contact us :</p>
                  <p>By mail: georgesmusicofficiel@gmail.com</p>
                  <p>Or on our facebook page: </p>

                  <a href="https://www.facebook.com/Georges-1509228566048778/?ref=bookmarks"><img src={{ asset('img/FB.jpg') }}></a>
              </div>
          </div>
  {% endblock %}