{% extends "GPlateformBundle::layout.html.twig" %}

  {% block title %}

  {% endblock %}

  {% block g_plateform_body %}


    <div class="container">
        <div class="col s12 m6">
                    <div class="card">
                <div class="card-image">

                        <img src="{{ asset('img/' ~ article.uploadImage) }}" width="50%">



                </div>

                <div class="card-content">
                     <h4>{{ article.title }}</h4>
                     <i>Le {{ article.date|date('d/m/Y') }}</i>
                     <p> {{ article.content }} </p>

                </div>
            </div>

        </div>
    </div>
  {% endblock %}
