{% extends "::layout.html.twig" %}

{% block body %}


    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <div class="container">
    <div class="col s12 m6  ">
    <div class="card center grey lighten-1">

    <div class="card-content">
    <form action="{{ path('login_check') }}" method="post">
        <label for="username"  class="white-text">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="center white-text" />

        <label for="password" class="white-text">Mot de passe :</label>
        <input type="password" id="password" name="_password"  class="center white-text"  />
        <br />
        <input type="submit" value="Connexion" />
    </form>
    </div>
    </div>
    </div>
    </div>

{% endblock %}